* {
	box-sizing: border-box;
}
body {
    background: #eee;
	margin: 0;
	padding: 0;
}
/*LOGO*/
.content-logo{
    display: flex;
    justify-content: center;
}

.logo{
    width: 100px;
    height: auto;
}

/*LISTA CATEGORIAS*/
.section-categorias{
    padding: 10px;
}
.categorias{
    display: flex;
    justify-content: center;
}

.categorias li {
    list-style: none;
}

.categorias li a{
    text-decoration: none;
    color: #7F6666;
    font-size:large;
    padding: 10px;
}

.categorias li a:hover{
    color: #C3240F;
}

.card{
    margin: 10px;
    border-radius: 20px;
}
.img-product{
    width: 100%;
    height: 240px;
}

.card-img-top{
    height: auto;
    border-radius: 20px 20px 0px 0px;
}
.card-body{
    display: flex;
    justify-content: center;
    background-color: #35475E;
    padding: 2px;
    line-height: 30px;
    height: 30px;
    color: #fff;
}

.price-product{
    position: absolute;
    right: 0px;
    text-align: center;
    width: 70px;
    padding: 5px;
    border-radius: 0px 20px 0px 0px;
    background-color: #B11010;
    color: #fff;
}

.content-cantidad{
    height: 100px;
    display: flex;
    justify-content: center;
}

.btnCantidad{
    padding: 20px;
    height: 78px;
    display: flex;
}
.cantidad-producto{
    width: 100px;
}

